<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidfinalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="My Virtual Pet"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
        <activity android:name=".Controllers.PetPickerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Controllers.PetPage"
            android:screenOrientation="portrait"/>
        <activity android:name=".Controllers.RegisterUserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Controllers.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>